:root{
    /* color */
    --color-white: #FFFFFF;
    
    /* Font Size */
    --font-clock: 8rem;
    --font-large: 3rem;
    --font-medium: 2rem;
    --font-regular: 1.25rem;
    --font-small: 1rem;
    --font-micro: 0.75rem;
    
    --font-opensans :'Open Sans', sans-serif;


    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
ul{
    padding: 0;
}
input{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--color-white);
}
html{
    overflow: hidden;
}

body{
    background: no-repeat center/cover url('../img/background.jpg')  ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-page{
    font-family: var(--font-opensans);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-white);
}

.main-schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.is-checked{
    opacity: 0.5;
    text-decoration: line-through;
}

.schedule-clock{
    font-size: var(--font-clock);
    font-weight: var(--weight-bold);
}

.schedule-message{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-input, .todo-input{
    width: 100%;
    font-size: var(--font-large);
    color: var(--color-white);
    text-align: center;
}

.message-input::placeholder, .todo-input::placeholder{
    font-size: var(--font-medium);
    color: var(--color-white);
    font-family: var(--font-opensans);
    font-weight: var(--weight-semi-bold);
    opacity: 0.7;
}

.message-text {
    font-size: var(--font-large);
    position: absolute;
}

.main-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2em;
}

.quote-text{
    font-weight: var(--weight-semi-bold);
}

.schedule-todo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-list{
    margin-top: 1.8em;
}
.list-item{
    margin-bottom: 0.4em;
    text-align: left;
}
.list-item span{
    font-size: var(--font-medium);
    margin: 0 0.6em;
}

.hidden{
    visibility: hidden;
}

@media screen and (max-width: 760px) {
    .schedule-clock{
        font-size: var(--font-large);
        font-weight: var(--weight-bold);
    }
    .message-text {
        font-size: var(--font-medium);
    }
    .message-input, .todo-input{
        font-size: var(--font-medium);
    }
    .message-input::placeholder, .todo-input::placeholder{
        font-size: var(--font-regular);
    }
}